{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load recommendations %}
{% load staticfiles %}

{% block title %}
    {{ product.get_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}

<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.get_title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="product_page" ><!-- Start of product page -->

    <div class="row">

        {% block product_gallery %}
        <div class="col-sm-6">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="col-sm-6 product_main">
            {% comment %}
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_staff %}
                <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% include "catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            <hr/>

            {% if not product.is_parent %}
                {% block product_basket_form %}
                    {% include "catalogue/partials/add_to_basket_form.html" %}
                {% endblock %}
            {% else %}
                {% block variants %}
                    <h2>{% trans 'Variants:' %}</h2>
                    {% for child in product.children.all %}
                        {% purchase_info_for_product request child as child_session %}
                        {% if child_session.availability.is_available_to_buy %}
                            <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
        </div><!-- /col-sm-6 -->
        {% endblock %}

    </div><!-- /row -->

    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}

    {% block product_info %}
    <div class="sub-header">
        <h2>{% trans "Product Information" %}</h2>
    </div>
    <table class="table table-striped">
        {% if product.upc %}
        <tr>
            <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
        </tr>

        {% purchase_info_for_product request product as session %}
        {% if session.price.exists %}
            <tr>
                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
            </tr>
            {% if session.price.is_tax_known %}
                <tr>
                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{% trans "Availability" %}</th>
                <td>{{ session.availability.message }}</td>
            </tr>
        {% endif %}
        {% for av in product.attribute_values.all %}
            <tr>
                <th>{{ av.attribute.name }}</th>
                <td>{{ av.value_as_html }}</td>
            </tr>
        {% endfor %}
        {% iffeature "reviews" %}
            <tr>
                <th>{% trans "Number of reviews" %}</th>
                <td>{{ product.num_approved_reviews }}</td>
            </tr>
        {% endiffeature %}
    </table>
    {% endblock %}

    {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header">
                {% if product.num_approved_reviews > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h2>{% trans "Customer Reviews" %}</h2>
            </div>

            {% if product.num_approved_reviews == 0 %}
                <p>
                    {% if product|is_review_permitted:user %}
                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}This product does not have any reviews yet -
                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "This product does not have any reviews yet" %}.
                    {% endif %}
                </p>
            {% else %}
                <ol class="list-unstyled review-list">
                    {% for review in product.reviews.approved.all|slice:":3" %}
                        <li>
                        {% include 'catalogue/partials/review.html' %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </section>
        {% endblock product_review %}
    {% endiffeature %}

    {% if user.id %}
        <div class="sub-header">
            <h2>{% trans "Recommended items (Classic Recommendation)" %}</h2>
        </div>
        <ul class="row">
            <div id="recommendation_quantum_classic">
                <div id="recommendation_quantum_classic_wait">
                    Please... wait...
                </div>
            </div>
        </ul>
        <div id="recommendation_quantum_classic_timer">
        </div>

        <div class="sub-header">
            <h2>{% trans "Recommended items (Quantum Simulator)" %}</h2>
        </div>
        <ul class="row">
            <div id="recommendation_quantum_simulated">
                <div id="recommendation_quantum_simulated_wait">
                    Please... wait...
                </div>
            </div>
        </ul>
        <div id="recommendation_quantum_simulated_timer"></div>
        
        <div class="sub-header">
            <h2>{% trans "Recommended items (Quantum Computer)" %}</h2>
        </div>
        <ul class="row">
            <div id="recommendation_quantum_real">
                <div id="recommendation_quantum_real_wait">
                    Please... wait...
                </div>
            </div>
        </ul>
        <div id="recommendation_quantum_real_timer"></div>
    {% endif %}

</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    {% if user.id %}
        <script type="text/javascript">    
            function calculate_age(birth_date) {
                const date = new Date(birth_date)
                var ageDifMs = Date.now() - date.getTime();
                var ageDate = new Date(ageDifMs); // miliseconds from epoch
                return Math.abs(ageDate.getUTCFullYear() - 1970);
            }

            function categories(category_list) {
                console.log('categories - category_list: ' + category_list)
                var category_names = ""
                for (category in category_list) {
                    category_names = category_names + category + "||"
                }
                return category_names
            }

            function trigger_get_recommendation(rec_type, success_function) {
                const user_id = "{{ request.user.id }}"
                const user_age = calculate_age("{{ request.user.demographics.birth_date }}")
                const user_gender = "{{ request.user.demographics.gender }}"
                const user_school_level = "{{ request.user.demographics.school_level }}"
                const item_id = "{{ product.upc }}"
                const item_categories = "{{ product_category_list|escapejs }}"
                var query = "rec_type=" + rec_type +
                    "&user_id="+ user_id + 
                    "&user_age=" + user_age + 
                    "&user_gender=" + user_gender + 
                    "&user_school_level=" + user_school_level + 
                    "&item_id=" + item_id + 
                    "&item_categories=" + item_categories;
                var timer_start = (new Date()).getTime();

                $.ajax({
                    type: "GET",
                    context: { timer_start: timer_start, rec_type: rec_type },
                    url: "../ajax/recommendations?"+query,
                    success: success_function
                })
            }
            
            function poll_recommendation_job(job_id, timer_start, rec_type, success_function) {
                console.log('poll_recommendation_job: job: ' + job_id)
                var query = "job_id=" + job_id
                $.ajax({
                    type: "GET",
                    context: { timer_start: timer_start, rec_type: rec_type, job_id: job_id },
                    url: "../ajax/jobs?"+query,
                    success: success_function
                })

            }
            function render_recommended_product(data) {
                console.log('render_recommended_product data: ' + data)
                let url = data.product_url
                let image = data['product_image_url']
                let title = data['product_title']
                let score = data['score']
                let category = data['product_category']
                let html = `
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <article class="product_pod" style="height: auto; witdh: 300px">
                            <div class="image_container">
                                <a href="${url}"><img src="${image}" alt="${title}" class="thumbnail"></a>
                            </div>
                            <h3><a href="${url}" title="${title}">${title}</a></h3>
                            <h3>${category}<h3>
                        </article> 
                    </li>
                `
                return html
            }

            function render_recommended_product_section(data) {
                console.log('render_recommended_product_section data: ' + data)
                html = ''
                for (datum of data) {
                    html = html + render_recommended_product(datum)
                }
                return html
            }

            function handle_success(data) {
                //--- this success function handles both provisional and final responses
                console.log('Success: ' + data)
                data = JSON.parse(data)
                if (!data.recommendations) {
                    console.log('No Recommendations... poll job');
                    //-- response was provisional... poll response again in 3 seconds
                    setTimeout(() => poll_recommendation_job(data.job_id, this.timer_start, this.rec_type, handle_success), 3000)
                } else {
                    console.log('Recommendations available... render');
                    //--- this is the final response... render
                    var rec_type = this.rec_type
                    var response_time = ((new Date()).getTime() - this.timer_start)
                    var base_tag = ''
                    var wait_tag = ''
                    var timer_tag = ''
                    if (rec_type === 'C') {
                        base_tag = '#recommendation_quantum_classic'
                    } else if (rec_type === 'S') {
                        base_tag = '#recommendation_quantum_simulated'
                    } else {
                        base_tag = '#recommendation_quantum_real'
                    }
                    wait_tag = base_tag + '_wait'
                    timer_tag = base_tag + '_timer'
                    $(wait_tag).hide();
                    $(base_tag).append(render_recommended_product_section(data.recommendations))
                    $(timer_tag).append(`<p>Response time: ${response_time/1000} s</p>`)
                }
            }

            jQuery(function($){
                    trigger_get_recommendation('C', handle_success) 
                    trigger_get_recommendation('S', handle_success)
                    trigger_get_recommendation('Q', handle_success)
            });
        </script>
    {% endif %}
{% endblock %}
